@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.paneflow-blush-ki-adi-mundi-657 {
    --pf-padding: 1cqw;
    --pf-gap: 2cqw;
    --pf-transition-duration: 1000ms;
    --pf-border-radius: 0cqw;
    --pf-pagination-item-color: rgba(255, 255, 255, 0.36);
    --pf-pagination-item-active-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: auto;
    aspect-ratio: 16/6;
    font-family: Bebas Neue;
    font-synthesis-weight: none;
    font-synthesis-style: none;
}
.paneflow-blush-ki-adi-mundi-657 .paneflow-bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.paneflow-blush-ki-adi-mundi-657 .paneflow-text {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}
.paneflow-block-kxUvOt {
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    --pf-cols: 7;
    --pf-rows: 3;
    --pf-col: 2;
    --pf-row: 1;
    --pf-width-cols: 1;
    --pf-height-rows: 2;
}
.paneflow-item-yPc2tt {
    object-fit: cover;
    object-position: center;
    transform: translate3d(0px, 0px, 0) scale(1) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}
.paneflow-block-WlzHhC {
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    --pf-cols: 7;
    --pf-rows: 3;
    --pf-col: 3;
    --pf-row: 1;
    --pf-width-cols: 1;
    --pf-height-rows: 2;
}
.paneflow-item-sGNaYn {
    object-fit: cover;
    object-position: center;
    transform: translate3d(0px, 0px, 0) scale(1.05) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}
.paneflow-block-bnscRC {
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    --pf-cols: 7;
    --pf-rows: 3;
    --pf-col: 0;
    --pf-row: 1;
    --pf-width-cols: 1;
    --pf-height-rows: 2;
}
.paneflow-item-5XQhrj {
    object-fit: cover;
    object-position: center;
    transform: translate3d(0px, 0px, 0) scale(1) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}
.paneflow-item-3PhC8O {
    font-size: 8cqw;
    text-align: left;
    color: rgba(11, 197, 182, 1);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    line-height: 1;
    padding: 0cqw 0cqw;
    border-radius: 0;
    transform: translate3d(-3.3cqw, -22.4cqw, 0) scale(1) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}
.paneflow-block-H8fiJk {
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    --pf-cols: 7;
    --pf-rows: 3;
    --pf-col: 6;
    --pf-row: 1;
    --pf-width-cols: 1;
    --pf-height-rows: 2;
}
.paneflow-item-6dkPiI {
    object-fit: cover;
    object-position: center;
    transform: translate3d(0px, 0px, 0) scale(1) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}
.paneflow-block-Z1PFhE {
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    --pf-cols: 7;
    --pf-rows: 3;
    --pf-col: 4;
    --pf-row: 1;
    --pf-width-cols: 1;
    --pf-height-rows: 2;
}
.paneflow-item-pB5RXX {
    object-fit: cover;
    object-position: center;
    transform: translate3d(0px, 0px, 0) scale(1) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}
.paneflow-block-VPh6uV {
    background-color: rgba(79, 79, 79, 0);
    --pf-cols: 7;
    --pf-rows: 3;
    --pf-col: 1;
    --pf-row: 0;
    --pf-width-cols: 5;
    --pf-height-rows: 1;
}
.paneflow-item-S7VzJy {
    font-size: 4cqw;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    line-height: 1;
    padding: 0cqw 0cqw;
    border-radius: 0;
    transform: translate3d(11.7cqw, 6.9cqw, 0) scale(1) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}
.paneflow-block-4ICLmf {
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    --pf-cols: 7;
    --pf-rows: 3;
    --pf-col: 5;
    --pf-row: 1;
    --pf-width-cols: 1;
    --pf-height-rows: 2;
}
.paneflow-item-pzJC7P {
    object-fit: cover;
    object-position: center;
    transform: translate3d(0px, 0px, 0) scale(1) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}
.paneflow-block-EAIyt0 {
    background-color: rgba(80, 80, 80, 1);
    cursor: pointer;
    --pf-cols: 7;
    --pf-rows: 3;
    --pf-col: 1;
    --pf-row: 1;
    --pf-width-cols: 1;
    --pf-height-rows: 2;
}
.paneflow-item-XmK2SJ {
    object-fit: cover;
    object-position: center;
    transform: translate3d(0px, 0px, 0) scale(1) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}
.paneflow-block-wWdZfU {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-Gyi2pd {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-3zKtQF {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-Yzz1Pp {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-3sYUuX {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-UIZE0j {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-cS79PD {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-wWdZfU,
.paneflow-block-Gyi2pd,
.paneflow-block-3zKtQF,
.paneflow-block-Yzz1Pp,
.paneflow-block-3sYUuX,
.paneflow-block-UIZE0j,
.paneflow-block-cS79PD {
    transform: translateX(100cqw);
}
