@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.paneflow-blush-ki-adi-mundi-657 {
    --pf-padding: 1cqw;
    --pf-gap: 2cqw;
    --pf-transition-duration: 1000ms;
    --pf-border-radius: 0cqw;
    --pf-pagination-item-color: rgba(255, 255, 255, 0.36);
    --pf-pagination-item-active-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: auto;
    aspect-ratio: 16/10;
    font-family: Bebas Neue;
    font-synthesis-weight: none;
    font-synthesis-style: none;
}
.paneflow-blush-ki-adi-mundi-657 .paneflow-bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.paneflow-blush-ki-adi-mundi-657 .paneflow-text {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}
.paneflow-block-kxUvOt {
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    --pf-cols: 7;
    --pf-rows: 3;
    --pf-col: 2;
    --pf-row: 1;
    --pf-width-cols: 1;
    --pf-height-rows: 2;
}
.paneflow-item-yPc2tt {
    object-fit: cover;
    object-position: center;
    transform: translate3d(0px, 0px, 0) scale(1) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}
.paneflow-block-WlzHhC {
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    --pf-cols: 7;
    --pf-rows: 3;
    --pf-col: 3;
    --pf-row: 1;
    --pf-width-cols: 1;
    --pf-height-rows: 2;
}
.paneflow-item-sGNaYn {
    object-fit: cover;
    object-position: center;
    transform: translate3d(0px, 0px, 0) scale(1.05) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}
.paneflow-block-bnscRC {
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    --pf-cols: 7;
    --pf-rows: 3;
    --pf-col: 0;
    --pf-row: 1;
    --pf-width-cols: 1;
    --pf-height-rows: 2;
}
.paneflow-item-5XQhrj {
    object-fit: cover;
    object-position: center;
    transform: translate3d(0px, 0px, 0) scale(1) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}
.paneflow-item-3PhC8O {
    font-size: 8cqw;
    text-align: left;
    color: rgba(11, 197, 182, 1);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    line-height: 1;
    padding: 0cqw 0cqw;
    border-radius: 0;
    transform: translate3d(-3.3cqw, -22.4cqw, 0) scale(1) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}
.paneflow-block-H8fiJk {
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    --pf-cols: 7;
    --pf-rows: 3;
    --pf-col: 6;
    --pf-row: 1;
    --pf-width-cols: 1;
    --pf-height-rows: 2;
}
.paneflow-item-6dkPiI {
    object-fit: cover;
    object-position: center;
    transform: translate3d(0px, 0px, 0) scale(1) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}
.paneflow-block-Z1PFhE {
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    --pf-cols: 7;
    --pf-rows: 3;
    --pf-col: 4;
    --pf-row: 1;
    --pf-width-cols: 1;
    --pf-height-rows: 2;
}
.paneflow-item-pB5RXX {
    object-fit: cover;
    object-position: center;
    transform: translate3d(0px, 0px, 0) scale(1) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}
.paneflow-block-VPh6uV {
    background-color: rgba(79, 79, 79, 0);
    --pf-cols: 7;
    --pf-rows: 3;
    --pf-col: 2;
    --pf-row: 0;
    --pf-width-cols: 3;
    --pf-height-rows: 1;
}
.paneflow-item-S7VzJy {
    font-size: 5cqw;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    line-height: 1;
    padding: 0cqw 0cqw;
    border-radius: 0;
    transform: translate3d(11.7cqw, 6.9cqw, 0) scale(1) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}
.paneflow-block-4ICLmf {
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    --pf-cols: 7;
    --pf-rows: 3;
    --pf-col: 5;
    --pf-row: 1;
    --pf-width-cols: 1;
    --pf-height-rows: 2;
}
.paneflow-item-pzJC7P {
    object-fit: cover;
    object-position: center;
    transform: translate3d(0px, 0px, 0) scale(1) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}
.paneflow-block-EAIyt0 {
    background-color: rgba(80, 80, 80, 1);
    cursor: pointer;
    --pf-cols: 7;
    --pf-rows: 3;
    --pf-col: 1;
    --pf-row: 1;
    --pf-width-cols: 1;
    --pf-height-rows: 2;
}
.paneflow-item-XmK2SJ {
    object-fit: cover;
    object-position: center;
    transform: translate3d(0px, 0px, 0) scale(1) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}
.paneflow-block-kT4TNX {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-item-DjP6h1 {
    font-size: 5cqw;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    line-height: 1;
    padding: 0cqw 0cqw;
    border-radius: 0;
    cursor: pointer;
}
.paneflow-block-C5BCFh {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-item-WHOC1v {
    font-size: 5cqw;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    line-height: 1;
    padding: 0cqw 0cqw;
    border-radius: 0;
}
.paneflow-block-eQKpH9 {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-6Kb5cm {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-ON7uoe {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-item-Ti2FfL {
    font-size: 5cqw;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    line-height: 1;
    padding: 0cqw 0cqw;
    border-radius: 0;
}
.paneflow-block-nPCXgm {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-item-7Ym5J9 {
    font-size: 5cqw;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    line-height: 1;
    padding: 0cqw 0cqw;
    border-radius: 0;
}
.paneflow-block-Pv3gqF {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-7nwpPp {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-sEmi2a {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-WNnhSh {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-item-2sMEgI {
    font-size: 5cqw;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    line-height: 1;
    padding: 0cqw 0cqw;
    border-radius: 0;
}
.paneflow-block-7ctZTz {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-hDASNF {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-asUX9S {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-98xsQ1 {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-item-aGyVCR {
    font-size: 5cqw;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    line-height: 1;
    padding: 0cqw 0cqw;
    border-radius: 0;
}
.paneflow-block-0w40z4 {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-yFG4v9 {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-Lvi7kD {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-item-rIgvyB {
    font-size: 5cqw;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    line-height: 1;
    padding: 0cqw 0cqw;
    border-radius: 0;
}
.paneflow-block-F8ILRv {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-KJWArV {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-6A0Wl0 {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-item-agLTsL {
    font-size: 5cqw;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    line-height: 1;
    padding: 0cqw 0cqw;
    border-radius: 0;
}
.paneflow-block-3DL9cY {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-ACuDLA {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-wWdZfU {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-Gyi2pd {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-3zKtQF {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-Yzz1Pp {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-3sYUuX {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-UIZE0j {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-cS79PD {
    background-color: rgba(80, 80, 80, 1);
}
.paneflow-block-kT4TNX,
.paneflow-block-C5BCFh,
.paneflow-block-eQKpH9,
.paneflow-block-6Kb5cm,
.paneflow-block-ON7uoe,
.paneflow-block-nPCXgm,
.paneflow-block-Pv3gqF,
.paneflow-block-7nwpPp,
.paneflow-block-sEmi2a,
.paneflow-block-WNnhSh,
.paneflow-block-7ctZTz,
.paneflow-block-hDASNF,
.paneflow-block-asUX9S,
.paneflow-block-98xsQ1,
.paneflow-block-0w40z4,
.paneflow-block-yFG4v9,
.paneflow-block-Lvi7kD,
.paneflow-block-F8ILRv,
.paneflow-block-KJWArV,
.paneflow-block-6A0Wl0,
.paneflow-block-3DL9cY,
.paneflow-block-ACuDLA,
.paneflow-block-wWdZfU,
.paneflow-block-Gyi2pd,
.paneflow-block-3zKtQF,
.paneflow-block-Yzz1Pp,
.paneflow-block-3sYUuX,
.paneflow-block-UIZE0j,
.paneflow-block-cS79PD {
    transform: translateX(100cqw);
}
