@import "tailwindcss";

/* @source "../views"; */
@plugin "tailwind-scrollbar-hide";

:root {

    --color-bgBase: hsl(39deg 85% 95%);
    --color-content: hsl(0deg 0% 20%);
    --color-primary-100: hsl(197, 37%, 96%);
    --color-primary-200: hsl(192, 31%, 90%);
    --color-primary-300: hsl(196, 29%, 82%);
    --color-primary-400: hsl(195, 29%, 65%);
    --color-primary-500: hsl(196, 27%, 53%);
    --color-primary-600: hsl(197, 30%, 43%);
    --color-primary-700: hsl(200, 29%, 36%);
    --color-primary-800: hsl(201, 27%, 31%);
    --color-primary-900: hsl(202, 22%, 27%);


    --color-cerulean-blue-50: hsl(203, 100%, 96%);
    --color-cerulean-blue-100: hsl(206, 100%, 92%);
    --color-cerulean-blue-200: hsl(205, 100%, 86%);
    --color-cerulean-blue-300: hsl(203, 100%, 76%);
    --color-cerulean-blue-400: hsl(205, 100%, 65%);
    --color-cerulean-blue-500: hsl(210, 100%, 56%);
    --color-cerulean-blue-600: hsl(215, 100%, 52%);
    --color-cerulean-blue-700: hsl(218, 98%, 48%);
    --color-cerulean-blue-800: hsl(220, 90%, 40%);
    --color-cerulean-blue-900: hsl(219, 82%, 33%);
    --color-cerulean-blue-950: hsl(221, 72%, 21%);

    --color-glacier-50: hsl(197, 37%, 96%);
    --color-glacier-100: hsl(192, 31%, 90%);
    --color-glacier-200: hsl(196, 29%, 82%);
    --color-glacier-300: hsl(195, 29%, 65%);
    --color-glacier-400: hsl(196, 27%, 53%);
    --color-glacier-500: hsl(197, 30%, 43%);
    --color-glacier-600: hsl(200, 29%, 36%);
    --color-glacier-700: hsl(201, 27%, 31%);
    --color-glacier-800: hsl(202, 22%, 27%);
    --color-glacier-900: hsl(204, 21%, 24%);
    --color-glacier-950: hsl(203, 24%, 15%);

    --color-red-orange-50: hsl(4, 100%, 97%);
    --color-red-orange-100: hsl(6, 100%, 94%);
    --color-red-orange-200: hsl(5, 100%, 89%);
    --color-red-orange-300: hsl(5, 100%, 81%);
    --color-red-orange-400: hsl(5, 100%, 70%);
    --color-red-orange-500: hsl(5, 96%, 57%);
    --color-red-orange-600: hsl(5, 83%, 51%);
    --color-red-orange-700: hsl(5, 84%, 42%);
    --color-red-orange-800: hsl(5, 80%, 35%);
    --color-red-orange-900: hsl(5, 72%, 31%);
    --color-red-orange-950: hsl(4, 85%, 15%);


    @media (prefers-color-scheme: dark) {
        :root {
            --color-bgBase: 240deg 27% 18%;
            --color-content: 210deg 14% 53%;
        }
    }

    /* If the user switchs dark mode */

    :root[data-theme="dark"] {
        --color-bgBase: 240deg 27% 18%;
        --color-content: 210deg 14% 53%;
    }

    /* If the user switchs light mode */

    :root[data-theme="light"] {
        --color-bgBase: 39deg 85% 95%;
        --color-content: 0deg 0% 20%;
    }

}


@theme inline {
    /* Primary Colors */
    --color-primary-100: var(--color-primary-100);
    --color-primary-200: var(--color-primary-200);
    --color-primary-300: var(--color-primary-300);
    --color-primary-400: var(--color-primary-400);
    --color-primary-500: var(--color-primary-500);
    --color-primary-600: var(--color-primary-600);
    --color-primary-700: var(--color-primary-700);
    --color-primary-800: var(--color-primary-800);
    --color-primary-900: var(--color-primary-900);


    --color-bgBase: var(--color-bgBase);
    --color-content: var(--color-content);

    --color-primary: var(--color-glacier-400); /* Deep Indigo */
    --color-primary-light: var(--color-glacier-100);
    --color-primary-dark: var(--color-glacier-700);

    --color-secondary: var(--color-glacier-300);
    --color-accent: var(--color-coral);
    --color-teal: #16A085; /* Vibrant Teal */
    --color-teal-light: #1ABC9C;
    --color-teal-dark: #0E8C73;

    --color-coral: #E74C3C; /* Warm Coral */
    --color-coral-light: #F16A59;
    --color-coral-dark: #C93A2F;

    /* Secondary Colors */
    --color-cream: #ECF0F1; /* Soft Cream */
    --color-cream-light: #F5F7F8;
    --color-cream-dark: #D6DBDD;

    --color-gold: #F39C12; /* Muted Gold */
    --color-gold-light: #F7B84B;
    --color-gold-dark: #D68910;

    --color-denim: #3498DB; /* Light Denim */
    --color-denim-light: #5DADE2;
    --color-denim-dark: #2874A6;

    /* Neutral Shades */
    --color-charcoal: #34495E; /* Charcoal */
    --color-charcoal-light: #4A6178;
    --color-charcoal-dark: #2C3E50;

    --color-silver: #95A5A6; /* Silver Gray */
    --color-silver-light: #ABB2B3;
    --color-silver-dark: #7F8C8D;

    --color-lightgray: #BDC3C7; /* Light Gray */
    --color-lightgray-light: #D0D3D4;
    --color-lightgray-dark: #A6ACAF;


    --color-background: var(--color-white);
    --color-foreground: var(--color-glacier-950);
    --color-solid: var(--color-glacier-950);

    --color-muted: var(--color-glacier-200);
    --color-muted-foreground: var(--color-glacier-400);

    --color-popover: var(--color-glacier-200);
    --color-popover-foreground: var(--color-glacier-400);

    --color-border: var(--color-cerulean-blue-300);
    --color-input: var(--color-cerulean-blue-600);

    --color-card: var(--color-glacier-200);
    --color-card-foreground: var(--color-glacier-400);


    --color-corvu-text: var(--color-cerulean-blue-950);
    --color-corvu-bg: var(--color-white);
    --color-corvu-100: var(--color-cerulean-blue-50);
    --color-corvu-200: var(--color-cerulean-blue-200);
    --color-corvu-300: var(--color-cerulean-blue-300);
    --color-corvu-400: var(--color-cerulean-blue-400);

    /* CSS HEX */
    --persian-green: #55988fff;
    --tickle-me-pink: #f088a0ff;
    --sunset: #fbca95ff;
    --cambridge-blue: #95c1bbff;

    /* CSS HSL */
    --persian-green: hsla(172, 28%, 46%, 1);
    --tickle-me-pink: hsla(346, 78%, 74%, 1);
    --sunset: hsla(31, 93%, 78%, 1);
    --cambridge-blue: hsla(172, 26%, 67%, 1);

    /* CSS HEX */
    --gunmetal: #333745ff;
    --cerise: #e63462ff;
    --bittersweet: #fe5f55ff;
    --tea-green: #c7efcfff;
    --beige: #eef5dbff;

    /* CSS HSL */
    --gunmetal: hsla(227, 15%, 24%, 1);
    --cerise: hsla(344, 78%, 55%, 1);
    --bittersweet: hsla(4, 99%, 66%, 1);
    --tea-green: hsla(132, 56%, 86%, 1);
    --beige: hsla(76, 57%, 91%, 1);

    /* CSS HEX */
    --vivid-sky-blue: #32c6ecff;
    --xanthous: #febd3fff;
    --raspberry: #e30b54ff;
    --mint: #48bd88ff;
    --steel-blue: #1585cfff;

    /* CSS HSL */
    --vivid-sky-blue: hsla(192, 83%, 56%, 1);
    --xanthous: hsla(40, 99%, 62%, 1);
    --raspberry: hsla(340, 91%, 47%, 1);
    --mint: hsla(153, 47%, 51%, 1);
    --steel-blue: hsla(204, 82%, 45%, 1);


    --animate-expand: expand 250ms cubic-bezier(0.32, 0.72, 0, 0.75);
    --animate-collapse: collapse 250ms cubic-bezier(0.32, 0.72, 0, 0.75);
    --animate-caret-blink: caret-blink 1.25s ease-out infinite;
    --animate-in: enter 150ms ease;
    --animate-out: exit 150ms ease;


}

@utility fade-in-* {
    --tw-enter-opacity: --value(percentage, ratio);
}
@utility fade-out-* {
    --tw-exit-opacity: --value(percentage, ratio);
}

@utility zoom-in-* {
    --tw-enter-scale: --value(percentage, ratio);
}
@utility zoom-out-* {
    --tw-exit-scale: --value(percentage, ratio);
}

@utility slide-in-from-top-* {
    --tw-enter-translate-y: calc(--value(percentage) * -1);
    --tw-enter-translate-y: calc(--value(ratio) * -100%);
    --tw-enter-translate-y: calc(--value(integer) * var(--spacing) * -1);
}
@utility slide-in-from-bottom-* {
    --tw-enter-translate-y: --value(percentage);
    --tw-enter-translate-y: calc(--value(ratio) * 100%);
    --tw-enter-translate-y: calc(--value(integer) * var(--spacing));
}

@utility slide-out-to-top-* {
    --tw-exit-translate-y: calc(--value(percentage) * -1);
    --tw-exit-translate-y: calc(--value(ratio) * -100%);
    --tw-exit-translate-y: calc(--value(integer) * var(--spacing) * -1);
}
@utility slide-out-to-bottom-* {
    --tw-exit-translate-y: --value(percentage);
    --tw-exit-translate-y: calc(--value(ratio) * 100%);
    --tw-exit-translate-y: calc(--value(integer) * var(--spacing));
}


.glass {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}


.snap-y-section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}

.activeClass {
    color: var(--color-cerulean-blue-600)
}

[data-corvu-accordion-content][data-collapsed] {
    animation: collapse 200ms linear;
}
[data-corvu-accordion-content][data-expanded] {
    animation: expand 200ms linear;
}

@keyframes collapse {
    0% {
        height: var(--corvu-disclosure-content-height);
    }
    100% {
        height: 0px;
    }
}

@keyframes expand {
    0% {
        height: 0px;
    }
    100% {
        height: var(--corvu-disclosure-content-height);
    }
}
[data-corvu-disclosure-content][data-collapsed] {
    animation: collapse 200ms linear;
}
[data-corvu-disclosure-content][data-expanded] {
    animation: expand 200ms linear;
}

@keyframes collapse {
    0% {
        height: var(--corvu-disclosure-content-height);
    }
    100% {
        height: 0px;
    }
}

@keyframes expand {
    0% {
        height: 0px;
    }
    100% {
        height: var(--corvu-disclosure-content-height);
    }
}

@keyframes expand {
    0% {
        height: 0px;
    }
    100% {
        height: var(--corvu-disclosure-content-height);
    }
}

@keyframes collapse {
    0% {
        height: var(--corvu-disclosure-content-height);
    }
    100% {
        height: 0px;
    }
}

@keyframes caret-blink {
    0%, 70%, 100% {
        opacity: 0;
    }
    20%, 50% {
        opacity: 1;
    }
}

@keyframes enter {
    from {
        opacity: var(--tw-enter-opacity, 1);
        transform: translate3d(
            var(--tw-enter-translate-x, 0),
            var(--tw-enter-translate-y, 0),
            0
        ) scale3d(
            var(--tw-enter-scale, 1),
            var(--tw-enter-scale, 1),
            var(--tw-enter-scale, 1)
        )
    }
}

@keyframes exit {
    to {
        opacity: var(--tw-exit-opacity, 1);
        transform: translate3d(
            var(--tw-exit-translate-x, 0),
            var(--tw-exit-translate-y, 0),
            0
        ) scale3d(
            var(--tw-exit-scale, 1),
            var(--tw-exit-scale, 1),
            var(--tw-exit-scale, 1)
        )
    }
}
