.paneflow-violent-nien-nunb-853 {
    --pf-padding: 1cqw;
    --pf-gap: 1cqw;
    --pf-transition-duration: 1000ms;
    --pf-border-radius: 0cqw;
    width: 100%;
    height: auto;
    aspect-ratio: 20/1;
}

.paneflow-block-UGGRlT {
    background-color: rgba(80, 80, 80, 1);
    --pf-cols: 8;
    --pf-rows: 1;
    --pf-col: 0;
    --pf-row: 0;
    --pf-width-cols: 1;
    --pf-height-rows: 1;
}

.paneflow-item-i30rwR {
    position: absolute;
    left: 0;
    top: 0;
    width: 5cqw;
    height: 5cqw;
    object-fit: contain;
    object-position: center;
    padding: 0cqw 0cqw;
    border-radius: 0cqw;
    cursor: pointer;
    transform: translate3d(3.2cqw, -1cqw, 0) scale(2.33) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}

.paneflow-block-kmR2dG {
    background-color: rgba(80, 80, 80, 1);
    --pf-cols: 8;
    --pf-rows: 1;
    --pf-col: 3;
    --pf-row: 0;
    --pf-width-cols: 1;
    --pf-height-rows: 1;
}

.paneflow-item-Q2EHyO {
    position: absolute;
    left: 0;
    top: 0;
    width: 5cqw;
    height: 5cqw;
    object-fit: contain;
    object-position: center;
    padding: 0cqw 0cqw;
    border-radius: 0cqw;
    transform: translate3d(3.2cqw, -1cqw, 0) scale(2.33) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}

.paneflow-block-5l3NGw {
    background-color: rgba(80, 80, 80, 1);
    --pf-cols: 8;
    --pf-rows: 1;
    --pf-col: 1;
    --pf-row: 0;
    --pf-width-cols: 1;
    --pf-height-rows: 1;
}

.paneflow-item-rTyEns {
    position: absolute;
    left: 0;
    top: 0;
    width: 5cqw;
    height: 5cqw;
    object-fit: contain;
    object-position: center;
    padding: 0cqw 0cqw;
    border-radius: 0cqw;
    cursor: pointer;
    transform: translate3d(3.2cqw, -1cqw, 0) scale(2.33) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}

.paneflow-block-qImMzS {
    background-color: rgba(80, 80, 80, 1);
    --pf-cols: 8;
    --pf-rows: 1;
    --pf-col: 2;
    --pf-row: 0;
    --pf-width-cols: 1;
    --pf-height-rows: 1;
}

.paneflow-item-eXDhbZ {
    position: absolute;
    left: 0;
    top: 0;
    width: 5cqw;
    height: 5cqw;
    object-fit: contain;
    object-position: center;
    padding: 0cqw 0cqw;
    border-radius: 0cqw;
    cursor: pointer;
    transform: translate3d(3.2cqw, -1cqw, 0) scale(2.33) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}

.paneflow-block-ye9O8q {
    background-color: rgba(80, 80, 80, 1);
    --pf-cols: 8;
    --pf-rows: 1;
    --pf-col: 4;
    --pf-row: 0;
    --pf-width-cols: 1;
    --pf-height-rows: 1;
}

.paneflow-item-3ibBje {
    position: absolute;
    left: 0;
    top: 0;
    width: 5cqw;
    height: 5cqw;
    object-fit: contain;
    object-position: center;
    padding: 0cqw 0cqw;
    border-radius: 0cqw;
    transform: translate3d(3.2cqw, -1cqw, 0) scale(2.33) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}

.paneflow-block-i7MJ0K {
    background-color: rgba(80, 80, 80, 1);
    --pf-cols: 8;
    --pf-rows: 1;
    --pf-col: 6;
    --pf-row: 0;
    --pf-width-cols: 1;
    --pf-height-rows: 1;
}

.paneflow-item-EhJqUz {
    position: absolute;
    left: 0;
    top: 0;
    width: 5cqw;
    height: 5cqw;
    object-fit: contain;
    object-position: center;
    padding: 0cqw 0cqw;
    border-radius: 0cqw;
    transform: translate3d(3.2cqw, -1cqw, 0) scale(2.33) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}

.paneflow-block-ma1Ors {
    background-color: rgba(80, 80, 80, 1);
    --pf-cols: 8;
    --pf-rows: 1;
    --pf-col: 5;
    --pf-row: 0;
    --pf-width-cols: 1;
    --pf-height-rows: 1;
}

.paneflow-item-RiRdrZ {
    position: absolute;
    left: 0;
    top: 0;
    width: 5cqw;
    height: 5cqw;
    object-fit: contain;
    object-position: center;
    padding: 0cqw 0cqw;
    border-radius: 0cqw;
    transform: translate3d(3.2cqw, -1cqw, 0) scale(2.33) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}

.paneflow-block-u988NC {
    background-color: rgba(80, 80, 80, 1);
    --pf-cols: 8;
    --pf-rows: 1;
    --pf-col: 7;
    --pf-row: 0;
    --pf-width-cols: 1;
    --pf-height-rows: 1;
}

.paneflow-item-ZLrsBH {
    position: absolute;
    left: 0;
    top: 0;
    width: 5cqw;
    height: 5cqw;
    object-fit: contain;
    object-position: center;
    padding: 0cqw 0cqw;
    border-radius: 0cqw;
    transform: translate3d(3.2cqw, -1cqw, 0) scale(2.33) rotate(0deg);
    transform-origin: center;
    opacity: 1;
}
